/* HTML Elements */
body {
    /* padding: 10px 20px;
    margin: 10px 20px; */
    color: white;
    background-color: #76b454;
}

main {
    min-height: 100vh;
}

h1 {
    font: 6vmin/1.3 Serif;
}

a {
    color: inherit;
}

.text-sm {
    font-size: 1.25rem;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.button {
    background-color: rgba(117, 173, 201, 0.8);;
    border: solid;
    color: black;
    border-radius: 8px;
    padding: 7px 32px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
}
  .button:hover {
    color: purple !important;
  }

a:hover {
    text-decoration: none;
    color: inherit;
}


/* Make Card Nav */
.makeCard-nav{ 
    justify-content: space-evenly;
}

/* Make Card */
#makeCard-contain {
    align-items: center;
    justify-content: space-evenly;
}

/* Write Card */

.WriteCard-Header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#draftMsg {
    font-size: 0.96rem;
    margin: 12px 0px 0px 30px;
}

.text-height {
    height: 180px;
    font-size: 36px;
}
  

input[type="file"] {
    display: none;
  }
/* Note Settings */
.note-settings {
    color: white;
    background-color: rgba(154, 197, 88, 0.8);
    padding: 10px 38px 20px 38px;
    border-radius: 8px;
    text-align: center;
}

/* Submit/Validate */
.makeCard-submit { 
    justify-content: center;
    z-index: 10;
}

.note-msg {
    background-color: rgba(154, 197, 88, 0.8);
    padding: 28px 18px 20px 10px;
    border-radius: 8px;
    color: black;
    margin-left: 20px;
    text-align: center;
}

.poof {
    display: none;
}

/* Bottom Nav */
.makeCard-homeBtn { 
    margin-top: 40px;
    justify-content: center;
    z-index: 10;
}

.EditButton {
    border: solid;
    border-radius: 8px;
    padding: 7px 32px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
}
  .EditButton:hover {
    color: lightblue !important;
  }

  .imgEdit {
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    border-radius: 8px;
}

/* * Note Styling */
.note-card {
    min-width: 300px;
    min-height: 150px;
    max-width: 320px;
    max-height: 580px;
    /* height: 580px; */
    margin: 25px 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-radius: 8px;
    font: 3vmin/1.0 Serif;
}
    .note-preview {
        max-height: none;
    }

/* Note Styling */

.parseText {
    white-space: pre-wrap;
      word-wrap: break-word;
}

.note {
    width: 100%;
}

.signature {
    width: 100%;
}

.img {
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.modal-card {
    min-width: 300px;
    min-height: 150px;
    margin: 25px 10px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    border-radius: 8px;
    font: 3vmin/1.0 Serif;
}

#photos-target {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.modal-photo {
    object-fit: cover;
    height: 200px;
    width: 100%;
}

/*  ** User Selections */
/* Fall */
.note-fall {
    background-color: rgba(228, 246, 60, 0.876);
    color: rgb(173, 131, 15);
}

.note-fall-solid {
    background-color: rgba(228, 246, 60, 1.0);
    color: rgb(173, 131, 15);
}

/* Succulents */
.note-succulents {
    background-color: rgba(95, 121, 79, 0.9);
    color: rgb(245, 239, 66)
}

.note-succulents-solid {
    background-color: rgba(95, 121, 79, 1.0);
    color: rgb(245, 239, 66)
}

/* Dream Builder */
.note-dreamBuilder {
    background-color: rgba(75, 115, 145, 0.9);
    color: rgb(255, 255, 255);
}

.note-dreamBuilder-solid {
    background-color: rgba(75, 115, 145, 1.0);
    color: rgb(255, 255, 255);
}
/* Fiery Aries */
.note-fieryAries {
    background-color: rgba(253, 211, 113, 0.8);
    color: rgb(2197, 116, 64);
}

.note-fieryAries-solid {
    background-color: rgba(253, 211, 113, 1.0);
    color: rgb(2197, 116, 64);
}
/* Earthy Friend */
.note-earthyFriends {
    background-color: rgba(253, 211, 113, 0.8);
    color: rgb(2197, 116, 64);
}

.note-earthyFriends-solid {
    background-color: rgba(253, 211, 113, 1.0);
    color: rgb(2197, 116, 64);
}

/* View Notes Page */

#about {
    /* color: orange; */
}

#card-contain {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.center { 
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}


/* Scroll Bar */
/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(212, 199, 199);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  @media (min-width: 1000px) {
    ::-webkit-scrollbar {
      width: 10px;
    }
  }

/* Fix Make Cards on Big Screens */
@media only screen and (min-width: 1000px) {
    .note-settings {
        max-width: 380px !important;
        min-height: 380px;
        transition: 350ms;
    }

    #change {
        max-width: 380px !important;
        min-height: 380px;
        transition: 350ms;
    }

}

