body {
background-color: black;
    color: white;
    margin: 0, 15, 0, 15px;
    padding: 0px;
  }

  main {
      padding: 10px 20px;
  }

  a:hover {
    color: #1BEF0C !important;
  }

  /* img {
      max-height: 80hv;
  } */

  .button {
    background-color: #2b2b2b;
    border: solid;
    color: white;
    border-radius: 8px;
    padding: 5px 32px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
  }

  .button:hover {
    color: #1BEF0C !important;
  }

  .copy {
      width: 98%;
  }

  .contain {
    /* width: 100%; */
    margin-top: 16px;
    /* background-color: #2b2b2b; */
    background-color: rgba(43, 43, 43, 0.8);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    /* justify-self: center; */
  }

  .home {
      background-color: transparent;
  }


  .step { 
      max-height: 550px;
  }

  .step-bottom {
    border-bottom-width: 16px;
  }

  .step-title {
      text-align: center;
  }

  .spacer {
    margin-top: 12px;
  }

  /* iOS and Android pages have no spacing for reasons beyond me. The HTML is the exact same. Added this bottom spacing to help the issue */
  .spacer-bottom {
      margin-bottom: 50px;
  }

  .parseText {
    white-space: pre-wrap;
      word-wrap: break-word;
  }

  .modal-card {
    min-width: 600px;
    min-height: 150px;
    margin: 25px 10px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    border-radius: 8px;
    font: 3vmin/1.0 Serif;
}


  /*  Things kept breaking apart as the screen got longer so  I made a trillion media queries to control it. Images kept growing larger than their container and the return home button just floated in the center of the cards */
  @media only screen and (min-width: 576px) {
	.step {
        max-height: 530px;
		height: 530px;
        transition: 350ms;
	}

    .card {
        height: 530px;
        transition: 350ms;
        /* justify-content: space-around; */
    }
    
    /* Why, just why did I nest this inside a media query 😂  */
    @media only screen and (min-width: 1578px) {
        main {
            padding: 10px 280px;
            transition: 350ms;
        }
    }

    @media only screen and (min-width: 2000px) {
        main {
            padding: 10px 380px;
            transition: 350ms;
        }
    }

    @media only screen and (min-width: 2400px) {
        main {
            padding: 10px 480px;
            transition: 350ms;
        }
    }

    @media only screen and (min-width: 2500px) {
        main {
            padding: 10px 580px;
            transition: 350ms;
        }
    }

    @media only screen and (min-width: 2600px) {
        main {
            padding: 10px 700px;
            transition: 350ms;
        }
    }

    @media only screen and (min-width: 2915px) {
        main {
            padding: 10px 900px;
            transition: 350ms;
        }
    }

    @media only screen and (min-width: 3333px) {
        main {
            padding: 10px 1010px;
            transition: 350ms;
        }
    }

}

