#show-uploaded-photos {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  margin: 2rem 0;

  div {
    position: relative;
  }

  /* Ensure images maintain aspect ratio and cover their container */
  img {
    width: 100%;
    max-height: 22rem;
    /* Keeps the natural height */
    object-fit: contain;
    /* Ensures full image is visible */
    aspect-ratio: auto;
    /* Retains original aspect ratio */
    border-radius: 8px;
    background-color: #5b8d41;
    /* Placeholder for empty space */
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }


  button {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

#user-card-contain {
  text-align: center;
  display: flex;
  gap: 2rem;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}


.note-card-edit {
  min-width: 600px;
  min-height: 150px;
  /* height: 580px; */
  margin: 25px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-radius: 8px;
  font: 3vmin/1.0 Serif;
}

img {
  height: 6rem;
}

.edit-photo-container {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  margin-top: 2rem;

  div {
    position: relative;
  }

  /* Ensure images maintain aspect ratio and cover their container */
  img {
    width: 100%;
    max-height: 22rem;
    /* Keeps the natural height */
    object-fit: contain;
    /* Ensures full image is visible */
    aspect-ratio: auto;
    /* Retains original aspect ratio */
    border-radius: 8px;
    background-color: #5b8d41;
    /* Placeholder for empty space */
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }


  button {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
  }
}